h1, h2 {
    color: green;
}
#tconf{
    color: green;
    background-color: yellow;
}
.id {
    border: 2px solid blue;
}
.second:hover{
    display: none;
}
b#tconf ::first-letter{
    font-size: 600px;
}
a{
    color: yellow
}