a,p {
    font-size: 28px;
}
div a {/*aplico estilo a todos los enlaces que esten dentro de una capa*/
    color: rgb(9, 255, 0);
}
div#capa1 {
    background-color: blue;
}
.nosubrayado{ /* el . hay que ponerlo cuando esta en un class, no como en el id qu ees una #*/
    text-decoration: none;
}
.letragrande{
    font-size: xx-large;
}
div#capa1 a.encima{
    font-weight: bold;
}
div#capa1 a.encima:hover {/*cuando pasamos el raton por encima de lo que hemos indicado (:hover) */
    font-size: xx-large;
}
/* :visible para que una vez le pulse cambie de color*/
p#miparrafo::first-line{/*:: es una seudoclase (se aplica a la p`rimera linea del parrafo)*/
    font-weight: bold;
}
p#miparrafo::first-letter{
    font-size: 100px;
    color: blue;
    font-family: monospace;
}
div#capa1 * {
    background-color: chocolate;
}
div > a {/*todos los enlaces que tengan una capa como "padre" osea, que este directamente integrado de la capa*/
   border: 3px solid red;
}
a[href^="http"]{/*que comience*/
    padding: 20px;
}
a[href$="es"]{/* que termine*/
    text-transform: uppercase;
}
a[href*="triana"]{/*que contenga*/
    background-color: darkblue;
}
div + p { /* se aplica a todos los parrafos que vayab justo despues de una capa*/
    font-size: 80px;
}
ul#lista li:first-child{
    background-color: darkorchid;
}
ul#lista li:last-child{
    background-color: rgb(50, 204, 158);
}
#ultimo:hover {
    font-size: xx-large;
}
#ultimo:link {
    font-size: medium;
}
#ultimo:visited {
    font-size: xx-small;
}input:focus {
    border: 40px solid rgb(255, 251, 0);
}
input:enabled{

}
input:disabled{
    
}
input:checked{
    
}