div {
    width: 150px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
}
.fondo{
    background-color: blue;
    border: 1px solid black;
}
.color{
    color: red;
}
.ocultarmostrar{
    display: none;
}