.success {
    border: 2px solid green;
    color: white;
    background-color: green;
}
.error {
    border: 2px solid red;
    color: white;
    background-color: red;
}
.warning {
    border: 2px solid yellow;
    color: white;
    background-color: yellow;
}